<div class="container">
  <div><h4>Itens</h4></div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <input #codigoDescricaoInput
          type="text"
          class="form-control"
          placeholder="Código ou Descrição"
          [(ngModel)]="filtro.codigoDescricao"
          autofocus>
      </div>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" (click)="listar()">Pesquisar</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th class="col-acoes-header">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itens">
            <td>{{ item.codigo }}</td>
            <td>{{ item.descricao }}</td>
            <td class="col-acoes">
              <a class="btn-alterar" [tooltip]="'Alterar'" [routerLink]="['/itens', item.id]">
                <i class="fa fa-pencil"></i>
              </a>
              <a class="btn-excluir pointer-link" [tooltip]="'Excluir'" (click)="confirmaExclusao(item)">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ap-paginator [paginator]="paginator" (callParent)="listar($event)"></ap-paginator>
    </div>
  </div>

  <div class="row">
    <a class="btn btn-primary" [routerLink]="['novo']">Novo Item</a>
  </div>

</div>

